$slate-1: #111113;
$slate-2: #18191b;
$slate-3: #212225;
$slate-4: #272a2d;
$slate-5: #2e3135;
$slate-6: #363a3f;
$slate-7: #43484e;
$slate-8: #5a6169;
$slate-9: #696e77;
$slate-10: #777b84;
$slate-11: #b0b4ba;
$slate-12: #edeef0;

$iris-1: #13131e;
$iris-2: #171625;
$iris-3: #202248;
$iris-4: #262a65;
$iris-5: #303374;
$iris-6: #3d3e82;
$iris-7: #4a4a95;
$iris-8: #5958b1;
$iris-9: #5b5bd6;
$iris-10: #6e6ade;
$iris-11: #b1a9ff;
$iris-12: #e0dffe;

$indigo-1: #11131f;
$indigo-2: #141726;
$indigo-3: #182449;
$indigo-4: #1d2e62;
$indigo-5: #253974;
$indigo-6: #304384;
$indigo-7: #3a4f97;
$indigo-8: #435db1;
$indigo-9: #3e63dd;
$indigo-10: #5472e4;
$indigo-11: #9eb1ff;
$indigo-12: #d6e1ff;

$blue-1: #0d1520;
$blue-2: #111927;
$blue-3: #0d2847;
$blue-4: #003362;
$blue-5: #004074;
$blue-6: #104d87;
$blue-7: #205d9e;
$blue-8: #2870bd;
$blue-9: #0090ff;
$blue-10: #3b9eff;
$blue-11: #70b8ff;
$blue-12: #c2e6ff;

$cyan-1: #0b161a;
$cyan-2: #101b20;
$cyan-3: #082c36;
$cyan-4: #003848;
$cyan-5: #004558;
$cyan-6: #045468;
$cyan-7: #12677e;
$cyan-8: #11809c;
$cyan-9: #00a2c7;
$cyan-10: #23afd0;
$cyan-11: #4ccce6;
$cyan-12: #b6ecf7;

$sky-1: #0d141f;
$sky-2: #111a27;
$sky-3: #112840;
$sky-4: #113555;
$sky-5: #154467;
$sky-6: #1b537b;
$sky-7: #1f6692;
$sky-8: #197cae;
$sky-9: #7ce2fe;
$sky-10: #a8eeff;
$sky-11: #75c7f0;
$sky-12: #c2f3ff;

$tomato-1: #181111;
$tomato-2: #1f1513;
$tomato-3: #391714;
$tomato-4: #4e1511;
$tomato-5: #5e1c16;
$tomato-6: #6e2920;
$tomato-7: #853a2d;
$tomato-8: #ac4d39;
$tomato-9: #e54d2e;
$tomato-10: #ec6142;
$tomato-11: #ff977d;
$tomato-12: #fbd3cb;

$amber-1: #16120c;
$amber-2: #1d180f;
$amber-3: #302008;
$amber-4: #3f2700;
$amber-5: #4d3000;
$amber-6: #5c3d05;
$amber-7: #714f19;
$amber-8: #8f6424;
$amber-9: #ffc53d;
$amber-10: #ffd60a;
$amber-11: #ffca16;
$amber-12: #ffe7b3;

$lime-1: #11130c;
$lime-2: #151a10;
$lime-3: #1f2917;
$lime-4: #29371d;
$lime-5: #334423;
$lime-6: #3d522a;
$lime-7: #496231;
$lime-8: #577538;
$lime-9: #bdee63;
$lime-10: #d4ff70;
$lime-11: #bde56c;
$lime-12: #e3f7ba;